
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}

/* Seleccionar varios elementos */ 
p,li,h1 {
  color:green;
}

/* Selector de id */

#mi_id {
  color:blueviolet;
}

/* selector de clase */
.mi-clase{
  color: coral;
}

/* selector de atributo */
img[src]{
  color: darkorchid;
  border: currentColor aqua;
}

a:hover{
  border: 10px solid black;
}
